[submodule "40423245"]
	path = 40423245
	url = https://github.com/40423245/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423248"]
	path = 40423248
	url = https://github.com/40423248/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423251"]
	path = 40423251
	url = https://github.com/40423251/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423222"]
	path = 40423222
	url = https://github.com/40423222/2016fallcadp_hw.git
	branch = gh-pages
